/* Element selectors */
h1 {
    color: #a32638
}

/* Class selectors */
.food-size img {
    width: auto;
    height: 300px;
    max-height: 300px;
}
img.profile {
  height: 100%;
  width: 100%;
}
p.name {
  text-align: center;
}
button.category {
  background-color: #a32638;
  border-color: #a32638;
}
/* Restaurant listing */
img.logo {
  height: 100%;
  width: 100%;
}
p.restName {
  font-size: 50px;
}
p.category {
  font-size: 20px;
  color: gray;
}
img.ratingImg {
  /* height: 100%; */
  width: 130%;
}
p.rating {
  font-size: 35px;
}
p.price {
  font-size: 35px;
  color: green;
}

/* ID selectors */