/* Element selectors */
h1 {
    color: #a32638
}

/* Class selectors */
.food-size img {
    width: auto;
    height: 300px;
    max-height: 300px;
}
img.profile {
  height: 15%;
  width: 15%;
}

/* ID selectors */